.addProduct {
  width: 200px;
  height: 200px;
}

form>span {
  color: red;
  text-align: left;
  position: absolute;
  margin: 2px;
}

.h4-update {
  text-align: center;
  text-decoration: underline;
}
