body{
    background-color: bisque;
    height: 100%;
}


#headerMain{
    text-align: center;
}



 .getDataDiv{
    border: 1px solid black;
    margin-right: 100px;
    height: 450px;
}


canvas{
    background-color: black;
  width: 100%;

}